# Project exclude paths
/.gradle/
/Minesweeper/task/build/
/Minesweeper/task/out/
/Minesweeper/task/out/production/classes/
/Problems/Getting the max element of a stack/out/
/Problems/Getting the max element of a stack/out/production/classes/
/Problems/Html Parser/out/
/Problems/Html Parser/out/production/classes/
/Problems/Which brackets are balanced/out/
/Problems/Which brackets are balanced/out/production/classes/